<h2 class="section-heading mb-4">
	<span class="section-heading-upper">LA NOSTRA PROMESA</span>
	<span class="section-heading-lower">A TU</span>
</h2>
<p class="mb-0">COMARCA Cuina L’Hocal</p>
<p class="mb-0">* Cuina L'Hocal [👩🏻‍🍳Cuinem producte local amb L'Hove ❤️]</p>
<p class="mb-0">* Producte fresc i temporada</p>
<p class="mb-0">🗣 Av. Granvia #LHospitalet 22 [Hotel EASY]</p>
<p class="mb-0">#ComarcaLHocal</p>
<p class="mb-0">+34 681 04 82 68</p>
<!--<a href="#" class="fa fa-facebook"></a>-->
<a href="https://www.instagram.com/comarca_lhocal/" class="fa fa-instagram"></a>